*{
    margin: 0;
    padding: 0;
}
/* 
div.main{
    margin:400px;
    padding:100px auto 0px auto;
} */
.main {
    margin: auto 323px;
    height: 100vh;
}




.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

h2{
    /* text-align: center; */
    padding: 20px;
    text-align: center;
    font-family:   sans-serif;
}
div.signup{
    background-color: rgba(0,0, 0, 0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px soid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px
    rgba(0,0,0,0.3);
    color:#fff;
}
from.signup{
    margin: 40px;
}
label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}
input.name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 3px;
    background-color: rgba(250, 100, 0, 0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
label,span,h2{
    text-shadow: 1px 1px 5px rgba(0,0,0);
}